body {
  overflow: hidden;
}
nav {
  background-color: black;
  height: 80px;
}
nav img {
  border-radius: 50%;
  margin-left: 100px;
  margin-top: 10px;
}
/* .login {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
}
.login button {
  width: 130px;
  height: 40px;
  margin-top: 14%;
} */
form {
  width: 700px;
  text-align: center;
  height: 500px;
  margin-left: 50px;
  box-shadow: 0 10px 20px 10px rgb(216, 215, 215);
  border-radius: 5%;
}
.form label {
  margin-bottom: 10px;
}
.form-container {
  padding: 50px;
  /* border: 1px solid black; */
  width: 700px;
}
form input,
button,
select {
  width: 300px;
  height: 40px;
  margin: 20px 20px 20px 20px;
}
.parent-div {
  display: flex;
}
.p-child {
  padding: 30px;
  font-size: 20px;
  margin-left: 40px;
  width: 300px;
}
.p-child div {
  margin-left: 30px;
}
.p-child form {
  margin-right: 30px;
  width: 600px;
  height: 130px;
}
.child input {
  width: 20px;
}
/* .child {
  width: 200px;
} */
/* paymenent card */
